# ========== Unity が自動生成するフォルダ ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# ========== Visual Studio / VSCode 系 ==========
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ========== OSが勝手に作るゴミ ==========
.DS_Store
Thumbs.db

# ========== JetBrains Rider 系 ==========
*.sln.iml

# ========== Git Large File Storage 系（使うなら） ==========
# [Optional] Ignore LFS metadata files
*.lfsconfig

Assets/TextMesh Pro/Fonts/NotoSansJP-VariableFont_wght SDF.asset
